@model Demo.BLL.Models.DepartmentVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit Department</h2>
<br />
<a asp-action="Index" asp-controller="Department"  class="btn btn-success">Back To Department</a>

<br />

<form asp-action="Index" asp-controller="Department"class="form-group">

    <div asp-validation-summary="All" class="text-danger"></div>

    <label>Department Name</label>
    <input type="text" asp-for="DepartmentName" class="form-control" />
    <span asp-validation-for="DepartmentName" class="text-danger"></span>
    <br />
    <label>Department Code</label>
    <input type="text" asp-for="DepartmentCode" class="form-control" />
    <span asp-validation-for="DepartmentCode" class="text-danger"></span>

    <br />
    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
        <input type="reset" value="Cancel" class="btn btn-danger" />
    </center>
</form>


@section MicrosoftValidation
    {
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
